<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Kaviar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFE85C211CEA7E3100923B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE85C3A1CEA7E3200923B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE85C451CEA7E3200923B24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
